body {
    align-items: center;
    width:100%;
    font-size: 36px;
}
.main {
    background-color:rgb(255, 255, 255);
        width:100%;
 align-items: center;   
 text-align: center;
 padding-bottom: 120px;
padding-top: 80px;
}


img { width: 80%; max-width: 800px;  }

.intro { 
  margin: 30px;   
}

.question {
    margin: 30px;   
}

.puzzle {
  margin: 30px;   
}

# update
