body {
    align-items: center;
    width:100%;
    font-size: 24px;
    
}
.main {
    background-color:rgb(255, 255, 255);
        width:100%;
 align-items: center;   
 text-align: center;
 padding-bottom: 120px;
}


img { width: 80%; max-width: 800px;  }

# update
