body {
    align-items: center;
    width:100%;
}
.title-image {
    max-width: 500px;
    margin-bottom: 50px;
}
.ruby-image {
    max-width: 500px;
    margin-bottom:50px;
    margin-top:50px;
}
.main {
    background-color:rgb(255, 255, 255);
        width:100%;
 align-items: center;   
 text-align: center;
 padding-bottom: 120px;
}
.header-item {
 
}
.button-image {
    max-width: 350px;
    margin-top: 50px;
}
